<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-firestore.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCrwh8JlngLw8r3XQGYnnoakN-e3gh_GCk",
        authDomain: "sitio-github.firebaseapp.com",
        databaseURL: "https://sitio-github.firebaseio.com",
        projectId: "sitio-github",
        storageBucket: "sitio-github.appspot.com",
        messagingSenderId: "1005225104246",
        appId: "1:1005225104246:web:3d68c3c154fd266d4aa057"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var db = firebase.firestore();
    </script>
    <title>Cursos bluuweb</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container>
            <h1 class="font-weight-light text-center my-3">
              Lista de cursos bluuweb
            </h1>
            <h3 class="font-weight-light text-center mb-3">
              Guías en Vuepress y Youtube
            </h3>
            <hr />

            <h3 class="text-center mt-5">*** Cursos de Javascript ***</h3>
            <v-row class="mt-3 warning">
              <v-col
                cols="12"
                xs="12"
                sm="6"
                md="4"
                v-for="(item, index) in javascript"
                :key="index"
              >
                <v-card class="text-center text-uppercase">
                  <v-card-title class="justify-center"
                    >{{item.nombre}}</v-card-title
                  >
                  <v-card-actions class="justify-center">
                    <v-btn
                      color="warning"
                      elevation="0"
                      :href="item.enlace"
                      target="_blank"
                      >Youtube</v-btn
                    >
                    <v-btn
                      v-if="item.guia"
                      color="warning"
                      elevation="0"
                      :href="item.guia"
                      target="_blank"
                      >Guía</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>

            <h3 class="text-center mt-5">*** Mundo Vue.js ***</h3>
            <v-row class="mt-3 success">
              <v-col
                cols="12"
                xs="12"
                sm="6"
                md="4"
                v-for="(item, index) in vue"
                :key="index"
              >
                <v-card class="text-center text-uppercase">
                  <v-card-title class="justify-center"
                    >{{item.nombre}}</v-card-title
                  >
                  <v-card-actions class="justify-center">
                    <v-btn
                      color="success"
                      elevation="0"
                      :href="item.enlace"
                      target="_blank"
                      >Youtube</v-btn
                    >
                    <v-btn
                      v-if="item.guia"
                      color="success"
                      elevation="0"
                      :href="item.guia"
                      target="_blank"
                      >Guía</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>

            <h3 class="text-center mt-5">*** Cursos de Back-End ***</h3>
            <v-row class="mt-3 error">
              <v-col
                cols="12"
                xs="12"
                sm="6"
                md="4"
                v-for="(item, index) in backend"
                :key="index"
              >
                <v-card class="text-center text-uppercase">
                  <v-card-title class="justify-center"
                    >{{item.nombre}}</v-card-title
                  >
                  <v-card-actions class="justify-center">
                    <v-btn
                      color="error"
                      elevation="0"
                      :href="item.enlace"
                      target="_blank"
                      >Youtube</v-btn
                    >
                    <v-btn
                      v-if="item.guia"
                      color="error"
                      elevation="0"
                      :href="item.guia"
                      target="_blank"
                      >Guía</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>

            <h3 class="text-center mt-5">*** Cursos Varios ***</h3>
            <v-row class="mt-3 primary">
              <v-col
                cols="12"
                xs="12"
                sm="6"
                md="4"
                v-for="(item, index) in productividad"
                :key="index"
              >
                <v-card class="text-center text-uppercase">
                  <v-card-title class="justify-center"
                    >{{item.nombre}}</v-card-title
                  >
                  <v-card-actions class="justify-center">
                    <v-btn
                      color="primary"
                      elevation="0"
                      :href="item.enlace"
                      target="_blank"
                      >Youtube</v-btn
                    >
                    <v-btn
                      v-if="item.guia"
                      color="primary"
                      elevation="0"
                      :href="item.guia"
                      target="_blank"
                      >Guía</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-content>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          javascript: [],
          vue: [],
          backend: [],
          productividad: []
        },
        methods: {
          leerDatos() {
            db.collection("javascript")
              .where("visibility", "==", "public")
              .get()
              .then(querySnapshot => {
                const datos = [];
                querySnapshot.forEach(doc => {
                  this.javascript.push(doc.data());
                });
              });

            db.collection("vue")
              .where("visibility", "==", "public")
              .get()
              .then(querySnapshot => {
                const datos = [];
                querySnapshot.forEach(doc => {
                  this.vue.push(doc.data());
                });
              });

            db.collection("backend")
              .where("visibility", "==", "public")
              .get()
              .then(querySnapshot => {
                const datos = [];
                querySnapshot.forEach(doc => {
                  this.backend.push(doc.data());
                });
              });

            db.collection("productividad")
              .where("visibility", "==", "public")
              .get()
              .then(querySnapshot => {
                const datos = [];
                querySnapshot.forEach(doc => {
                  this.productividad.push(doc.data());
                });
              });
              
          }
        },
        created() {
          this.leerDatos();
        }
      });
    </script>
  </body>
</html>
