iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

:root {
  --vp-c-brand: #0ba6ff;
  --vp-c-brand-light: #205e82;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #046195
  );
  --vp-button-brand-bg: #205e82;
  --vp-button-brand-hover-bg: #007fc9;
  --vp-button-brand-hover-border: #007fc9;
}
